@import "tailwindcss";

:root {
  --bg-light: #ffffff;
  --bg-dark: #1f2937;
  --text-light: #1f2937;
  --text-dark: #f9fafb;
}

[data-theme='light'] {
  --background: var(--bg-light);
  --foreground: var(--text-light);
}

[data-theme='dark'] {
  --background: var(--bg-dark);
  --foreground: var(--text-dark);
} 

body {
  background-color: var(--background);
  color: var(--foreground);
}
